{{- /* ################### TOPLINE VARIABLES ################### */ -}}
{{ $file := .File }}
{{ $generatedFile := .GeneratedFile }}

{{- $l := splitList "." (toString $file.Desc.FullName) -}}
{{ $packageName := index $l (sub (len $l) 2) }}

{{- /* ################### HELPER TEMPLATES ################### */ -}}
{{- define "fieldMaskOpts" -}}
{{- $handlerOpts := . -}}
{{- if $handlerOpts.GetFieldMask.GetPaths -}}
ctx = {{ fqn "github.com/malonaz/core/go/grpc/middleware" "WithFieldMask" }}(ctx, "{{ $handlerOpts.FieldMask.Paths | join "," }}")
{{- end -}}
{{- end -}}

{{- define "pipeServerStreamFn" -}}
pipeFn := func() error {
  stream, err := h.{{ untitle .ProxyService }}Client.{{ .ProxyMethod }}(ctx, request)
  if err != nil {
    return err
  }
  for {
    response, err := stream.Recv()
    if err != nil {
      if err == {{ fqn "io" "EOF" }} {
        break
      }
      return err
    }

    if err := srv.Send(response); err != nil {
      return err
    }
  }
  return nil
}
{{- end -}}

{{- define "pipeClientStreamFn" -}}
pipeFn := func() error {
  stream, err := h.{{ untitle .ProxyService }}Client.{{ .ProxyMethod }}(ctx)
  if err != nil {
    return err
  }

  for {
    request, err := srv.Recv()
    if err != nil {
      if err == {{ fqn "io" "EOF" }} {
        break
      }
      return err
    }

    if err := stream.Send(request); err != nil {
      return err
    }
  }

  response, err := stream.CloseAndRecv()
  if err != nil {
    return err
  }

  return srv.SendAndClose(response)
}
{{- end -}}

{{- define "pipeBidiStreamFn" -}}
pipeFn := func() error {
  stream, err := h.{{ untitle .ProxyService }}Client.{{ .ProxyMethod }}(ctx)
  if err != nil {
    return err
  }

  errChan := make(chan error, 2)

  go func() {
    defer stream.CloseSend()
    for {
      request, err := srv.Recv()
      if err != nil {
        errChan <- err
        return
      }
      if err := stream.Send(request); err != nil {
        errChan <- err
        return
      }
    }
  }()

  go func() {
    for {
      response, err := stream.Recv()
      if err != nil {
        errChan <- err
        return
      }
      if err := srv.Send(response); err != nil {
        errChan <- err
        return
      }
    }
  }()

  for i := 0; i < 2; i++ {
    if err := <-errChan; err != nil && err != {{ fqn "io" "EOF" }} {
      return err
    }
  }
  return nil
}
{{- end -}}

{{- /* ################### CODE START ################### */ -}}
// Code generated by protoc-templates. DO NOT EDIT.
// source: {{ $file.Desc.Path }}
package {{ .PackageName }}

{{ range $service := $file.Services }}
{{- range $method := $service.Methods }}
{{ $handlerOpts := getExt $method.Desc "malonaz.codegen.gateway.v1.opts" }}
{{ if not $handlerOpts.Proxy }}{{ continue }}{{ end }}
{{- $proxyParts := splitList "." $handlerOpts.Proxy -}}
{{- $proxyMethod := index $proxyParts (sub (len $proxyParts) 1) -}}
{{- $proxyService := index $proxyParts (sub (len $proxyParts) 2) -}}

{{- if and $method.Desc.IsStreamingServer $method.Desc.IsStreamingClient }}
func (h *Service) {{ $method.GoName }}(srv {{ goIdent $file.GoImportPath $service.GoName }}_{{ $method.GoName }}Server) error {
  ctx := srv.Context()
  ctx = {{ fqn "github.com/malonaz/core/go/grpc" "ForwardCustomHeaders" }}(ctx)
  {{ template "fieldMaskOpts" $handlerOpts }}
  {{ template "pipeBidiStreamFn" (dict "ProxyService" $proxyService "ProxyMethod" $proxyMethod) }}
  return pipeFn()
}

{{- else if $method.Desc.IsStreamingServer }}
func (h *Service) {{ $method.GoName }}(request *{{ qgi $method.Input.GoIdent }}, srv {{ goIdent $file.GoImportPath $service.GoName }}_{{ $method.GoName }}Server) error {
  ctx := srv.Context()
  ctx = {{ fqn "github.com/malonaz/core/go/grpc" "ForwardCustomHeaders" }}(ctx)
  {{ template "fieldMaskOpts" $handlerOpts }}
  {{ template "pipeServerStreamFn" (dict "ProxyService" $proxyService "ProxyMethod" $proxyMethod) }}
  return pipeFn()
}

{{- else if $method.Desc.IsStreamingClient }}
func (h *Service) {{ $method.GoName }}(srv {{ goIdent $file.GoImportPath $service.GoName }}_{{ $method.GoName }}Server) error {
  ctx := srv.Context()
  ctx = {{ fqn "github.com/malonaz/core/go/grpc" "ForwardCustomHeaders" }}(ctx)
  {{ template "fieldMaskOpts" $handlerOpts }}
  {{ template "pipeClientStreamFn" (dict "ProxyService" $proxyService "ProxyMethod" $proxyMethod) }}
  return pipeFn()
}

{{- else }}
func (h *Service) {{ $method.GoName }}(ctx {{ fqn "context" "Context" }}, request *{{ qgi $method.Input.GoIdent }}) (*{{ qgi $method.Output.GoIdent }}, error) {
  ctx = {{ fqn "github.com/malonaz/core/go/grpc" "ForwardCustomHeaders" }}(ctx)
  {{ template "fieldMaskOpts" $handlerOpts }}
  return h.{{ $proxyService | untitle }}Client.{{ $proxyMethod }}(ctx, request)
}
{{- end }}
{{ end }}
{{ end }}
