{{- /* ################### TOPLINE VARIABLES ################### */ -}}
{{ $file := .File }}
{{ $gen := .GeneratedFile }}

{{- $pgvector := "github.com/pgvector/pgvector-go" -}}


{{- /* ################### HELPERS ################### */ -}}
{{- define "SanitizedFieldType" -}}
    {{- if .Enum -}}
		    int16
    {{- else if and .Message (eq .Message.Desc.FullName "google.protobuf.Timestamp") -}}
        {{ fqn "time" "Time" }}
    {{- else -}}
		    {{- fieldType . -}}
    {{- end -}}
{{- end -}}

{{- define "ProtoFieldValue" -}}
    {{- if .Enum -}}
        int16(m.{{- .GoName -}})
    {{- else if and .Message (eq .Message.Desc.FullName "google.protobuf.Timestamp") -}}
        m.{{- .GoName -}}.AsTime()
    {{- else -}}
        m.{{- .GoName -}}
    {{- end -}}
{{- end -}}

{{- define "ModelFieldValue" -}}
    {{- $original := fieldType . -}}
		{{- if .Enum -}}
				{{- qgi .Enum.GoIdent -}}(m.{{- .GoName -}})
		{{- else -}}
		    m.{{- .GoName -}}
		{{- end -}}
{{- end -}}

{{- define "Marshal" -}}
    {{- $marshalLib := "github.com/malonaz/core/go/pbutil" -}}
    {{- $marshal := "Marshal" -}}
    {{-  $fieldOpts := (getExt .Desc "malonaz.codegen.model.v1.field_opts") -}}
    {{- if $fieldOpts.AsJsonBytes -}}
		    {{- $marshal = "JSONMarshal" -}}
    {{- end -}}
    {{- if .Desc.IsMap -}}
        {{- if not $fieldOpts.AsJsonBytes -}}{{ fail "field of type map cannot be marshaled as proto bytes" }}{{ end }}
        {{ $marshalLib = "encoding/json" }}
		    {{- $marshal = "Marshal" -}}
    {{ end }}
    {{- if $fieldOpts.Nullable -}}
	 	    var {{ .GoName -}}Bytes []byte
	 	    if m.{{ .GoName }} != nil {
		    var err error
			  {{ .GoName -}}Bytes, err = {{ fqn $marshalLib $marshal }}(m.{{ .GoName }})
			  if err != nil {
			 	return nil, {{ fqn "fmt" "Errorf" }}("marshaling {{ .GoName -}}: %w", err)
			  }
		    }
    {{ else }}
        if m.{{ .GoName }} == nil {
			 	return nil, {{ fqn "fmt" "Errorf" }}("{{ .GoName }} cannot be nil")
        }
	      {{ .GoName -}}Bytes, err := {{ fqn $marshalLib $marshal }}(m.{{ .GoName }})
	      if err != nil {
	 		  return nil, {{ fqn "fmt" "Errorf" }}("marshaling {{ .GoName -}}: %w", err)
		    }
    {{ end }}
{{- end -}}

{{- define "Unmarshal" -}}
    {{- $marshalLib := "github.com/malonaz/core/go/pbutil" -}}
    {{- $marshal := "Unmarshal" -}}
    {{-  $fieldOpts := (getExt .Desc "malonaz.codegen.model.v1.field_opts") -}}
    {{- if $fieldOpts.AsJsonBytes -}}
		    {{- $marshal = "JSONUnmarshal" -}}
    {{- end -}}
    {{- if .Desc.IsMap }}
        {{- if not $fieldOpts.AsJsonBytes -}}{{ fail "field of type map cannot be marshaled as proto bytes" }}{{ end }}
        {{- $marshalLib = "encoding/json" }}
		    {{- $marshal = "Unmarshal" }}
    {{ end }}
    {{- if $fieldOpts.Nullable }}
        {{- if .Desc.IsMap }}
            {{ $t := printf "map[%s]%s" .Desc.MapKey.Kind .Desc.MapValue.Kind }}
	          var {{ .GoName }} {{ $t }}
            if m.{{ .GoName }} != nil {
	 		      {{- .GoName -}} = {{ $t }}{}
	 		      if err := {{ fqn $marshalLib $marshal }}(m.{{ .GoName -}}, &{{- .GoName -}}); err != nil {
	 			    return nil, {{ fqn "fmt" "Errorf" }}("marshaling {{ .GoName -}}: %w", err)
	 		      }
            }
        {{- else }}
	          var {{ .GoName }} *{{ qgi .Message.GoIdent }}
	          if m.{{ .GoName }} != nil {
	 		      {{- .GoName -}} = &{{- qgi .Message.GoIdent -}}{}
	 		      if err := {{ fqn $marshalLib $marshal }}(m.{{ .GoName -}}, {{- .GoName -}}); err != nil {
	 			    return nil, {{ fqn "fmt" "Errorf" }}("marshaling {{ .GoName -}}: %w", err)
	 		      }
            }
        {{ end }}
    {{ else }}
        {{- $unmarshalPrefix := "" }}
        {{- if .Desc.IsMap }}
            {{- $unmarshalPrefix = "&" }}
	          {{- .GoName -}} := map[{{ .Desc.MapKey.Kind }}]{{ .Desc.MapValue.Kind }}{}
        {{- else }}
	          {{- .GoName -}} := &{{- qgi .Message.GoIdent -}}{}
        {{- end }}
	      if err := {{ fqn $marshalLib $marshal }}(m.{{ .GoName -}}, {{ $unmarshalPrefix }}{{ .GoName }}); err != nil {
	 		  return nil, {{ fqn "fmt" "Errorf" }}("marshaling {{ .GoName -}}: %w", err)
	      }
    {{ end }}
{{- end -}}

// Code generated by protoc-templates. DO NOT EDIT.
// source: {{ $file.Desc.Path }}
package {{ .PackageName }}

{{/* ################### VAR COLUMNS ################### */}}
var (
{{ range $message := $file.Messages -}}
    {{-  $modelOpts := getModelOpts . -}}
    {{- if not $modelOpts -}}{{ continue }}{{- end }}
    Err{{ $message.GoIdent.GoName }}AlreadyExists = {{ fqn "errors" "New" }}("{{ $message.GoIdent.GoName | snakecase }} already exists")
    Err{{ $message.GoIdent.GoName }}NotExist = {{ fqn "errors" "New" }}("{{ $message.GoIdent.GoName | snakecase }} does not exist")
{{- end -}}
)


{{/* ################### TYPE DEFINITIONS ################### */}}
{{ "" }}
{{ range $message := $file.Messages -}}
    {{-  $modelOpts := getModelOpts . -}}
    {{- if not $modelOpts -}}{{ continue }}{{- end -}}
    {{ $pr := parseResourceFromMessage $message }}

		type {{ $message.GoIdent.GoName }} struct {
    {{- range $i, $id := $pr.PatternVariables }}
        {{ if and (eq $i 0) $modelOpts.IdColumnName }}
            {{ if $pr.Singleton }}{{ fail (printf "singleton resource %s declares a id_column_name" $pr.Desc.Type) }}{{ end }}
            {{ $id | camelcase }}ID string `db:"{{ $modelOpts.IdColumnName }}"`
        {{ else }}
            {{ $id | camelcase }}ID string `db:"{{ $id }}_id"`
        {{ end }}
    {{- end }}
		{{- range $field := $message.Fields -}}
        {{-  $fieldOpts := (getExt .Desc "malonaz.codegen.model.v1.field_opts") -}}
				{{- if or $fieldOpts.Skip (eq $field.Desc.TextName "name") }}{{- continue -}}{{- end }}
    		{{ if not $fieldOpts.Embed }}{{ $field.GoName -}}{{- " " -}}{{ end }}
				{{- if or $fieldOpts.AsJsonBytes $fieldOpts.AsProtoBytes -}}
						[]byte
				{{- else if $fieldOpts.PgVector -}}
      			{{- if $fieldOpts.Nullable }}*{{ end }}{{ fqn $pgvector "Vector" }}
				{{- else if $fieldOpts.Embed -}}
						{{ $message.GoIdent.GoName }}{{ $field.GoName }}
				{{- else -}}
    				{{- if $fieldOpts.Nullable -}}*{{- end -}}
						{{- template "SanitizedFieldType" $field -}}
				{{- end -}}
				{{ if not $fieldOpts.Embed }} `db:"{{- columnName $field -}}"`{{ end }}
		{{- end }}
    }
{{ end -}}

{{- /* ################### FromPb Conversions ################### */ -}}
{{- range $message := $file.Messages -}}
    {{-  $modelOpts := getModelOpts . -}}
		{{- if not $modelOpts -}}{{ continue }}{{- end }}
    {{ $pr := parseResourceFromMessage $message }}

    func {{ $message.GoIdent.GoName }}FromPb(m *{{ qgi $message.GoIdent }}) (*{{ $message.GoIdent.GoName }}, error) {
    if m.Name == "" {
    return nil, fmt.Errorf("FromPb requires `name` to be set")
    }

    {{ if $pr.PatternVariables }}
        {{ range $i, $id := $pr.PatternVariables }}{{ $id | camelcase }}ID, {{ end }} err := Parse{{ $message.GoIdent.GoName }}Name(m.Name)
        if err != nil {
        return nil, err
        }
    {{ end }}

		{{ range $field := $message.Fields -}}
        {{-  $fieldOpts := (getExt .Desc "malonaz.codegen.model.v1.field_opts") -}}
				{{- if or $fieldOpts.Skip (eq $field.Desc.TextName "name") }}{{- continue -}}{{- end }}
        {{ $isProtobufTs := and .Message (eq .Message.Desc.FullName "google.protobuf.Timestamp") }}

				{{ if or $fieldOpts.AsJsonBytes $fieldOpts.AsProtoBytes -}}
					  {{ template "Marshal" $field }}
				{{- else if $fieldOpts.PgVector -}}
						{{ if $fieldOpts.Nullable }}
								var {{ $field.GoName }}Ptr *{{ fqn $pgvector "Vector" }}
								if m.{{ $field.GoName }} != nil {
								{{ $field.GoName }} := pgvector_go.NewVector(m.{{ $field.GoName }})
								{{ $field.GoName }}Ptr = &{{ $field.GoName }}
								}
						{{- end -}}
				{{ else if $fieldOpts.Embed }}
					  {{ $field.GoName }}, err := {{ $message.GoIdent.GoName }}{{ $field.GoName }}FromPb(m.{{ $field.GoName }})
					  if err != nil {
					 	return nil, {{ fqn "fmt" "Errorf" }}("converting to model {{ $field.Desc.TextName }}: %w", err)
					  }
				{{ else }}
						{{ if $fieldOpts.Nullable }}
								var {{ $field.GoName }} *{{- template "SanitizedFieldType" $field }}
								if m.{{ $field.GoName }} != {{ zeroValue $field }} {
                {{ if $field.Enum }}
                    {{ $field.GoName }}Int := int16(m.{{ $field.GoName }})
                    {{ $field.GoName }} = &{{ $field.GoName }}Int
                {{ else if $isProtobufTs }}
                    if err := m.{{ $field.GoName }}.CheckValid(); err != nil {
					 	        return nil, {{ fqn "fmt" "Errorf" }}("validating {{ $field.Desc.TextName }}: %w", err)
                    }
                    t := m.{{ $field.GoName }}.AsTime()
                    {{ $field.GoName }} = &t
                {{- else -}}
							 		  {{ $field.GoName }} = &m.{{ $field.GoName }}
                {{- end }}
								}
            {{ else }}
                {{- if $isProtobufTs -}}
                    if err := m.{{ $field.GoName }}.CheckValid(); err != nil {
					 	        return nil, {{ fqn "fmt" "Errorf" }}("validating {{ $field.Desc.TextName }}: %w", err)
                    }
                {{ end }}
						{{- end -}}
				{{ end -}}
		{{- end }}
		return &{{ $message.GoIdent.GoName }}{
    {{- range $id := $pr.PatternVariables }}
        {{ $id | camelcase }}ID: {{ $id | camelcase }}ID,
    {{- end }}
		{{- range $field := $message.Fields }}
        {{  $fieldOpts := (getExt .Desc "malonaz.codegen.model.v1.field_opts") -}}
				{{ if or $fieldOpts.Skip (eq $field.Desc.TextName "name") }}{{ continue }}{{ end -}}
				{{ if $fieldOpts.Embed }}{{ $message.GoIdent.GoName }}{{ end }}
				{{- $field.GoName -}}{{- ": " -}}
				{{- if or $fieldOpts.AsJsonBytes $fieldOpts.AsProtoBytes -}}
					 	{{- $field.GoName -}}Bytes,
				{{- else if $fieldOpts.PgVector -}}
					 	{{- if $fieldOpts.Nullable }}
						 	 	{{- $field.GoName -}}Ptr,
						{{- else -}}
							 	m.{{- $field.GoName -}},
						{{- end -}}
				{{- else if $fieldOpts.Embed -}}
					 	{{- $field.GoName -}},
				{{- else -}}
					 	{{- if $fieldOpts.Nullable }}
						 	 	{{- $field.GoName -}},
						{{- else -}}
						    {{- template "ProtoFieldValue" $field -}},
						{{- end -}}
				{{ end }}
		{{- end }}
		}, nil
    }
{{- end -}}


{{- /* ################### ToPb Conversions ################### */ -}}
{{- range $message := $file.Messages -}}
    {{-  $modelOpts := getModelOpts . -}}
		{{- if not $modelOpts -}}{{ continue }}{{- end -}}
    {{ $pr := parseResourceFromMessage $message }}

    func (m *{{ $message.GoIdent.GoName }}) ToPb() (*{{ qgi $message.GoIdent }}, error) {
		{{ range $field := $message.Fields -}}
        {{- $fieldOpts := (getExt .Desc "malonaz.codegen.model.v1.field_opts") -}}
		 		{{- if or $fieldOpts.Skip (eq $field.Desc.TextName "name") }}{{- continue -}}{{- end -}}
        {{ $isProtobufTs := and .Message (eq .Message.Desc.FullName "google.protobuf.Timestamp") }}
				{{- if or $fieldOpts.AsJsonBytes $fieldOpts.AsProtoBytes -}}
					  {{ template "Unmarshal" $field }}
				{{- else if $fieldOpts.PgVector -}}
						{{ if $fieldOpts.Nullable }}
								var {{ $field.GoName }} {{ template "SanitizedFieldType" $field }}
								if m.{{ $field.GoName }} != nil {
							 	{{ $field.GoName }} = m.{{ $field.GoName }}.Slice()
								}
						{{- end -}}
				{{ else if $fieldOpts.Embed }}
					  {{ $field.GoName }}, err := m.{{ $message.GoIdent.GoName}}{{ $field.GoName }}.ToPb()
					  if err != nil {
					 	return nil, {{ fqn "fmt" "Errorf" }}("converting to pb {{ $field.GoName }}: %w", err)
					  }
				{{ else if $isProtobufTs }}
            var {{ $field.GoName }} *{{ fqn "google.golang.org/protobuf/types/known/timestamppb" "Timestamp" }}
            {{- if $fieldOpts.Nullable }}
                if m.{{ $field.GoName }} != nil {
            {{- end }}
            {{ $field.GoName }} = {{ fqn "google.golang.org/protobuf/types/known/timestamppb" "New" }}({{- if $fieldOpts.Nullable }}*{{ end }}m.{{ $field.GoName }})
            if err := {{ $field.GoName }}.CheckValid(); err != nil {
					 	return nil, {{ fqn "fmt" "Errorf" }}("validating {{ $field.Desc.TextName }}: %w", err)
            }
            {{- if $fieldOpts.Nullable }}
                }
            {{ end }}
				{{ else -}}
						{{- if $fieldOpts.Nullable }}
								var {{ $field.GoName }} {{ template "SanitizedFieldType" $field }}
								if m.{{ $field.GoName }} != nil {
							 	{{ $field.GoName }} = *m.{{ $field.GoName }}
								}
            {{ else }}
						{{- end }}
				{{ end -}}
		{{- end }}
    name := {{ fqn "go.einride.tech/aip/resourcename" "Sprint" }}("{{ $pr.Pattern }}"{{ range $id := $pr.PatternVariables }}, m.{{ $id | camelcase}}ID{{ end }})
    if err := {{ fqn "go.einride.tech/aip/resourcename" "Validate" }}(name); err != nil {
    return nil, fmt.Errorf("validating resource name: %w", err)
    }
		return &{{ qgi $message.GoIdent }}{
    Name: name,
		{{- range $field := $message.Fields }}
        {{ $fieldOpts := (getExt .Desc "malonaz.codegen.model.v1.field_opts") -}}
		 		{{ if or $fieldOpts.Skip (eq $field.Desc.TextName "name") }}{{ continue }}{{ end -}}
        {{ $isProtobufTs := and .Message (eq .Message.Desc.FullName "google.protobuf.Timestamp") }}
				{{- $field.GoName -}}{{- ": " -}}
				{{- if or $fieldOpts.AsJsonBytes $fieldOpts.AsProtoBytes -}}
					 	{{- $field.GoName -}},
				{{- else if $fieldOpts.PgVector -}}
					 	{{- if $fieldOpts.Nullable }}
						 	 	{{- $field.GoName -}},
						{{- else -}}
						    m.{{- $field.GoName -}}.Slice(),
						{{- end -}}
				{{- else if $fieldOpts.Embed -}}
					 	{{- $field.GoName -}},
				{{- else if $isProtobufTs -}}
					 	{{- $field.GoName -}},
				{{- else -}}
					 	{{- if $fieldOpts.Nullable }}
                {{- if $field.Enum -}}
                    {{- qgi $field.Enum.GoIdent -}}({{- $field.GoName -}}),
                {{- else -}}
						 	 		  {{- $field.GoName -}},
                {{- end -}}
						{{- else -}}
						    {{- template "ModelFieldValue" $field -}},
						{{- end -}}
				{{ end }}
		{{- end }}
		}, nil
    }
{{- end -}}


{{- /* ################### ParseName Utilities ################### */ -}}
{{- range $message := $file.Messages -}}
    {{-  $modelOpts := getModelOpts . -}}
		{{- if not $modelOpts -}}{{ continue }}{{- end -}}
    {{ $pr := parseResourceFromMessage $message }}

    func Parse{{ $message.GoIdent.GoName }}Name(name string) ({{ range $_ := $pr.PatternVariables }}string, {{ end }} error) {
            var {{ range $i, $id := $pr.PatternVariables }}{{ if $i }}, {{ end }}{{ $id | camelcase }}ID{{ end }} string
        if err := {{ fqn "go.einride.tech/aip/resourcename" "Sscan" }}(name, "{{ $pr.Pattern }}"{{ range $id := $pr.PatternVariables }}, &{{ $id | camelcase }}ID{{ end }}); err != nil {
        return {{ range $_ := $pr.PatternVariables }}"", {{ end }} {{ fqn "fmt" "Errorf" }}("parsing resource name: %v", err)
        }
        return {{ range $i, $id := $pr.PatternVariables }}{{ $id | camelcase }}ID, {{ end }} nil
    }

{{- end -}}
