package main

//go:embed {{ range $dir := .directories }}{{ $dir.name }}/*.sql {{ $dir.name }}_migrations.yaml {{ end }}
var migrationsFS {{ goImport "embed" }}.FS

func TestMigrations(t *{{ goImport "testing" }}.T) {
	for _, migrationDirectory := range []string{{ "{" }}{{ range $dir := .directories }}"{{ $dir.name }}", {{ end }}{{ "}" }} {
		migrations, err := {{ goImport "github.com/malonaz/core/go/postgres/migrator/migrations" }}.GetMigrations(migrationsFS.ReadFile, migrationDirectory)
		{{ goImport "github.com/stretchr/testify/require" }}.NoError(t, err)
		for _, migration := range migrations {
			{{ goImport "github.com/stretchr/testify/require" }}.Equal(t, migration.ExpectedHash, migration.Hash, "Hash migration has changed.")
		}
	}
}
