package {{ .implementation | base }}
{{- $exportFields := not (empty .exportServiceFields) }}

{{ if .includeRuntime }}
type Opts struct{}

type runtime struct{}

func newRuntime(opts *Opts) (*runtime, error) {
    return &runtime{}, nil
}

func (s *Service) start(ctx {{ goImport "context" }}.Context) (func(), error) { return func() {}, nil }
{{ end }}

type Service struct {
  *runtime
	{{- range $codegen := .codegens }}
      {{- if eq $codegen.type "rpc" }}
        // Embedded codegen.
        *{{ plzGoImport $codegen.implementation }}.{{ $codegen.name | title }}Server
	  {{- else }}
      {{ fail (printf "%s unknown type" $codegen.type) }}
	  {{- end }}
	{{- end }}
	log *{{ goImport "log/slog" }}.Logger
	{{ ternary "Opts" "opts" $exportFields }} *Opts
  {{ ternary "With" "with" $exportFields }}ServiceAccount func({{ goImport "context" }}.Context) {{ goImport "context" }}.Context
  {{- range $dep := .dependencies }}
    {{- if eq $dep.type "grpc_client" }}
        {{ $grpc := parseGRPC $dep.proto $dep.name}}
        {{ ternary ($grpc.Client | title) $grpc.Client $exportFields }} {{ $grpc.ClientInterface }}
    {{- else if eq $dep.type "postgres_db_client" }}
        {{ ternary ($dep.name | title) $dep.name $exportFields }}PostgresStore *{{ plzGoImport $dep.implementation }}.Store
    {{- else if eq $dep.type "postgres_client" }}
        {{ ternary ($dep.name | title) $dep.name $exportFields }}PostgresClient *{{ goImport "github.com/malonaz/core/go/postgres" }}.Client
    {{- else if eq $dep.type "service" }}
        {{ ternary ($dep.name | title) $dep.name $exportFields }}Service *{{ plzGoImport $dep.implementation }}.Service
    {{- end }}
  {{- end }}
}

func (s *Service) WithLogger(logger *{{ goImport "log/slog" }}.Logger) *Service {
	s.log = logger
	return s
}

// New instantiates and returns a new service.
func New(
	opts *Opts,
      {{- range $dep := .dependencies }}
            {{- if eq $dep.type "grpc_client" }}
                {{ $grpc := parseGRPC $dep.proto $dep.name }}
                {{ $grpc.Client }} {{ $grpc.ClientInterface }},
            {{- else if eq $dep.type "postgres_db_client" }}
                {{ $dep.name }}PostgresStore *{{ plzGoImport $dep.implementation }}.Store,
            {{- else if eq $dep.type "postgres_client" }}
                {{ $dep.name }}PostgresClient *{{ goImport "github.com/malonaz/core/go/postgres" }}.Client,
           {{- else if eq $dep.type "service" }}
                {{ $dep.name }}Service *{{ plzGoImport $dep.implementation }}.Service,
            {{- end }}
        {{- end }}

) (*Service, error) {
	runtime, err := newRuntime(opts)
	if err != nil {
		return nil, {{ goImport "fmt" }}.Errorf("instantiating runtime: %w", err)
	}
	return &Service{
    runtime: runtime,
	{{- range $codegen := .codegens }}
      {{- if eq $codegen.type "rpc" }}
        {{ $codegen.name | title }}Server: {{ plzGoImport $codegen.implementation }}.New{{ $codegen.name | title }}Server({{ $codegen.name }}PostgresStore),
	 	  {{- end }}
	{{- end }}
 	  log: {{ goImport "log/slog" }}.Default(),
		{{ ternary "Opts" "opts" $exportFields }}: opts,
      {{- range $dep := .dependencies }}
            {{- if eq $dep.type "grpc_client" }}
                {{ $grpc := parseGRPC $dep.proto $dep.name }}
                {{ ternary ($grpc.Client | title) $grpc.Client $exportFields }}: {{ $grpc.Client }},
            {{- else if eq $dep.type "postgres_db_client" }}
                {{ ternary ($dep.name | title) $dep.name $exportFields }}PostgresStore: {{ $dep.name }}PostgresStore,
            {{- else if eq $dep.type "postgres_client" }}
                {{ ternary ($dep.name | title) $dep.name $exportFields }}PostgresClient: {{ $dep.name }}PostgresClient,
            {{- else if eq $dep.type "service" }}
                {{ ternary ($dep.name | title) $dep.name $exportFields }}Service: {{ $dep.name }}Service,
            {{- end }}
        {{- end }}
	}, nil
}

// Start this service. Returns clean up function.
func (s *Service) Start(ctx {{ goImport "context" }}.Context, withServiceAccount func({{ goImport "context" }}.Context) {{ goImport "context" }}.Context) (func(), error) {
  if withServiceAccount != nil {
  s.{{ ternary "With" "with" $exportFields }}ServiceAccount = withServiceAccount
  ctxSA := withServiceAccount(ctx)
	return s.start(ctxSA)
  }
	return s.start(ctx)
}
